*.log*
*.env*
!.env.example

.idea/
.vscode/

.gradle/
.kotlin/

**/build/
!**/src/**/build/

*.class
*.ctxt
*.swp
*.jar
*.war
*.nar
*.ear
*.zip
*.tgz
*.tar.gz
*.rar
*.pid
*.db
*.sqlite3

!gradle-wrapper.jar

hs_err_pid*
replay_pid*

.DS_Store
Thumbs.db
ehthumbs.db

docker-compose.*.yaml
docker-compose.*.yml
compose.*.yml
compose.*.yaml
!docker-compose.yaml
!compose.yaml
!docker-compose.yml
!compose.yml
